@font-face {
  font-family: 'Dutch801 Rm BT';
  src: url("Dutch801BT-Roman.eot");
  src: url("Dutch801BT-Roman.eot?#iefix") format("embedded-opentype"), url("Dutch801BT-Roman.woff2") format("woff2"), url("Dutch801BT-Roman.woff") format("woff"), url("Dutch801BT-Roman.ttf") format("truetype"), url("Dutch801BT-Roman.svg#Dutch801BT-Roman") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Suisse Intl';
  src: url("SuisseIntl.eot");
  src: url("SuisseIntl.eot?#iefix") format("embedded-opentype"), url("SuisseIntl.woff2") format("woff2"), url("SuisseIntl.woff") format("woff"), url("SuisseIntl.ttf") format("truetype"), url("SuisseIntl.svg#SuisseIntl") format("svg");
  font-weight: normal;
  font-style: normal; }